<template name="description">
    <div class="jumbotron">
        <div style="text-align: center">
            <h3>Bienvenue sur le site Abia événements</h3>
            <br>
            <h4> Deux évenements concernant les artistes (peintres, sculpteurs, photographe, performer, musiciens
                ...)auront lieu le 23 et 24 juin 2018.</h4>
            <br>
        </div>
        <ul>
            <li>
                D'une part il y aura Quai des Arts, les artistes exposent sur le quai de Versailles et le Quai Henri
                Barbusse (pour les barnum).
            </li>
            D'autre part, les artistes qui veulent ouvrir leur atelier, s'inscrivent et le public disposera d'une
            application sur tablette ou smartphone qui visualisera les ateliers sur une carte.
            <li>
                Les ateliers peuvent être situés partout sur le territoire.
            </li>
            <li>
                Pour s'inscrire, l'artiste doit enregistrer des informations d'usage, télécharger 5 photos d'oeuvres, et
                s'acquitter de la somme de 20 euros. Cette somme sert au développement de l'application, à la
                communication, à l'assurance, aux frais divers, aux dédommagement d'artistes musiciens qui viendraient
                jouer sur les quais.
            </li>
            <li>
                L'inscription étant validée, l'artiste recevra un mail de confirmation avec son positionnement
                géographique .
            </li>
            <li>
                Un artiste peu s'inscrire aux deux événements. Les musiciens et autre artistes scéniques seront
                remboursés de leur inscription.
            </li>
            <li>
                Pour le succès de cette manifestation, il est important que chaque artiste communique autour de lui par
                tous les moyens, mail facebook ...
            </li>
            <li>
                Si vous avez des questions utiliser le mail abia@abia.fr, une ligne téléphonique sera disponible à
                partir du 1er juin.
            </li>
            <li>
                Si vous souhaitez garder l'espace où il y a vos photos comme vitrine de présentation et rajouter jusqu'à
                30 photos, il faut règler la somme de 30 euros au lieu de 20. (pour 1 an)
            </li>
            <li>
                Pour vous inscrire, allez sur l'onglet en haut à droite 'Accés artiste' et créez un compte.
            </li>
            <li>
                <a class="btn btn-info" href="/connection">Créer un compte</a>
            </li>
        </ul>


    </div>

</template>