<template name="header">
    <nav class="navbar-inverse ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ABIA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

                    {{#if currentUser}}
                        {{#if isInRole 'artiste'}}
                            <li><a href="/profile">Mon Dossier</a></li>
                        {{else if isInRole 'admin'}}
                            <li><a href="/artistesAdmin">Artistes</a></li>
                            <li><a href="/artistesPosition">Position</a></li>

                        {{/if}}
                    {{else}}
                        <li><a href="/quai">Quai</a></li>
                        <li><a href="/ateliers">Ateliers</a></li>
                        <li><a href="/artistes">Artistes</a></li>
                        <li><a href="/photos">Oeuvres</a></li>
                    {{/if}}
                </ul>
                {{#if currentUser}}
                    <p class="navbar-text navbar-right">{{>signout}}</p>
                {{else}}
                    <a class="navbar-text navbar-right" href="/connection">Accés artistes</a>
                {{/if}}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</template>

