<head>
    <title>quaidesarts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
{{> appLayout}}
</body>


<template name="appLayout">
    <header>
        {{> Template.dynamic template=header}}
    </header>
    <div class="app">
        {{> Template.dynamic template=main}}
    </div>
</template>