/* CSS declarations go here */
.jumbotron {
    padding-left: 30px;
    padding-right: 30px;
}

.map-container {
    max-width: 100%;
    height: calc(100vh - 61px);
    width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nomArtiste {
    text-transform: capitalize;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.mapPosition {
    height: 800px;
    max-width: 100%;
}

.oeuvres {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    align-items: stretch;
}

.oeuvreArtiste {
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .oeuvreArtiste {
        width: 50%;
        min-width: 360px;
    }

    .oeuvre {
        width: 50%;
        min-width: 360px;
    }
}
@media only screen and (max-width: 900px) {
    .oeuvreArtiste {
        width: 50%;
        min-width: 360px;
    }

    .oeuvre {
        width: 25%;
        min-width: 360px;
    }
}
.oeuvre {
    width: 25%;
}

.img {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nomOeuvre {
    text-align: left;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

body {
    word-wrap: break-word;
}

.dimension {
    text-align: right;
    font-style: italic;
}

.etapeTitle {
    text-align: center;
    Font-Weight: Bold;
    font-size: large;
}

.vert {
    background-color: forestgreen;
}

.bleu {
    background-color: dodgerblue;
}

.noir {
    background-color: dimgrey;
}

.rose {
    background-color: deeppink;
}

.white {
    color: white;
}

.tableauPos {
    max-height: 100%;
}

/*# sourceMappingURL=main.css.map */
