<template name="formAtelier">
    <div class="form2">
        <br>
        {{#autoForm collection="Meteor.users" id="updateProfileZone" doc=user type="method-update"
                    meteormethod="updateZone" template="bootstrap3-horizontal" }}
            {{> afQuickField name='profile.perso.atelier' value=user.profile.perso.atelier }}

            {{#if choixAtelier}}
                <fieldset>
                    {{> afQuickField name='profile.address' value=user.profile.address label-class="col-sm-3" input-col-class="col-sm-9" }}
                    {{> afQuickField name='profile.perso.horaires' value=user.profile.perso.horaires label-class="col-sm-3" input-col-class="col-sm-9" }}
                </fieldset>
                <br>
            {{/if}}
            <div class="row">
                <button type="submit" class="btn btn-primary col-xs-12">Enregistrer</button>
            </div>
            <br>
        {{/autoForm}}
    </div>
</template>
