<template name="formQuai">
    <div class="form3">
        <br>
        {{#autoForm collection="Meteor.users" id="updateProfileZone" doc=user type="method-update"
                    meteormethod="updateQuai" template="bootstrap3-horizontal"}}

            {{> afQuickField name='profile.perso.quai' value=user.profile.perso.quai }}


            {{#if choixQuai}}
                <div class="thumbnail">
                    <img src="/map.jpg" alt="" style="max-height: 300px">
                </div>
                <fieldset>
                    {{> afQuickField name='profile.zone' value=user.profile.zone }}
                </fieldset>
                <p>Si vous avez un Barnum, celui ci doit être lesté en cas de vent, possible visite des
                    pompiers</p>
            {{/if}}
            <div class="row">
                <button type="submit" class="btn btn-primary col-xs-12">Enregistrer</button>
            </div>
        {{/autoForm}}
    </div>
</template>


