<template name="formProfile">
    <div class="form1">
        <h2>Profile</h2>
        {{ userMail }}<br>


        {{#autoForm collection="Meteor.users" id="updateProfile" doc=user type="method-update"
                    meteormethod="updateProfile" template="bootstrap3-horizontal" }}
            <fieldset class="row">
                {{> afQuickField name='profile.perso.nom' value=user.profile.perso.nom label-class="col-sm-3" input-col-class="col-sm-9"  }}
                {{> afQuickField name='profile.perso.prenom' value=user.profile.perso.prenom label-class="col-sm-3" input-col-class="col-sm-9"  }}
                {{> afQuickField name='profile.perso.adresse' value=user.profile.perso.adresse label-class="col-sm-3" input-col-class="col-sm-9" }}
                {{> afQuickField name='profile.perso.tel' value=user.profile.perso.tel label-class="col-sm-3" input-col-class="col-sm-9" }}
                {{> afQuickField name='profile.perso.description' value=user.profile.perso.description label-class="col-sm-3" input-col-class="col-sm-9" }}
                {{> afQuickField name='profile.perso.artisteNom' value=user.profile.perso.artisteNom label-class="col-sm-3" input-col-class="col-sm-9" }}
                {{> afQuickField name='profile.perso.discipline' value=user.profile.perso.discipline label-class="col-sm-3" input-col-class="col-sm-9" }}
                {{> afQuickField name='profile.perso.site' value=user.profile.perso.site label-class="col-sm-3" input-col-class="col-sm-9" }}
            </fieldset>
            <input type="submit" class="btn btn-primary col-xs-12" value="Enregistrer">
        {{/autoForm}}

    </div>
</template>