<template name="edit">
    <div class="modal fade" id="edit-oeuvre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    {{#autoForm collection="Images.collection" id="updateImages" doc=getOeuvre type="method-update"
                                meteormethod="updateMeta" }}
                        <fieldset>
                            {{> afQuickField name='meta.nom' value=getOeuvre.meta.nom }}
                            {{> afQuickField name='meta.description' value=getOeuvre.meta.description }}
                            {{> afQuickField name='meta.dimension.hauteur' value=getOeuvre.meta.dimension.hauteur }}
                            {{> afQuickField name='meta.dimension.largeur' value=getOeuvre.meta.dimension.largeur }}
                            {{> afQuickField name='meta.dimension.profondeur' value=getOeuvre.meta.dimension.profondeur }}
                        </fieldset>
                        <div class="modal-footer">
                            <div class="row">
                                <button type="submit" class="btn btn-primary col-xs-12">Enregistrer</button>
                            </div>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>