<template name="etape">
    <div class="row">
        <div class="col-xs-1">
            {{#if etape1}}
                <div class="btn btn-success retour"><span class=" glyphicon glyphicon-arrow-left"></span></div>
            {{/if}}
        </div>
        <div class="etapeTitle col-xs-10">
            {{#unless etape1}}
                <div class="col-xs-12">Veuillez entrer vos informations personnelles</div>
            {{/unless}}
            {{#if etape2}}
                <div class="col-xs-12">Voulez vous ouvrir votre atelier durant l'événement</div>
            {{/if}}
            {{#if etape3}}
                <div class="col-xs-12">Voulez vous exposer sur les quai durant l'événement</div>
            {{/if}}
            {{#if etape4}}
                <div class="col-xs-12">Veuillez charger 5 oeuvres</div>
            {{/if}}
            {{#if etape5}}
                <div class="col-xs-12">Paiement</div>
            {{/if}}
            {{#if etape6}}
                <div class="col-xs-12">Vous serez averti par mail dès votre position émise</div>
            {{/if}}
        </div>
        <div class="col-xs-1">

        </div>
    </div>

    <!--
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="1"
             aria-valuemin="0" aria-valuemax="100" style="width:{{pourcent}}%">
            <span>{{pourcent}}%</span>
        </div>
    </div>-->
</template>
