<template name="paiement">
    {{#if validate}}
        <div class="row">
            <div class="btn btn-success  col-xs-12">Paiement Effectué</div>
            <button class="btn btn-primary  col-xs-12 suivant">Suivant</button>
        </div>
    {{else if paiementEnCour}}
        <button class="btn btn-warning" id="enCour">Paiement en cour</button>
    {{else}}
        <button class="btn btn-primary" id="pay">Paiement</button>
        <button class="btn btn-primary disabled" id="payDisabled" style="display: none">Chargement</button>
    {{/if}}

</template>