<template name="recapitulatif">
    <h3>Recapitulatif</h3>
    Nom : {{user.profile.perso.nom}}<br>
    Prenom : {{user.profile.perso.prenom}}<br>
    Adresse domicle : {{user.profile.perso.adresse}}<br>
    Tel : {{user.profile.perso.tel}}<br>
    Description : {{user.profile.perso.description}}<br>
    ArtisteNom : {{user.profile.perso.artisteNom}}<br>
    Discipline : {{user.profile.perso.discipline}}<br>
    {{#if user.profile.perso.quai}}
        Vous souhaité etre placé sur la zone : {{user.profile.zone}}
    {{/if}}
    <br>
    {{#if user.profile.perso.atelier}}
        Vous ouvrez votre atelier : {{user.profile.address.adresse}}<br>
        Precision : {{user.profile.address.precision}}
    {{/if}}
    <br>

    <br>
</template>