<template name="mesoeuvres">

    <h3>Oeuvres {{nbOeuvre}}/5</h3>

    <div class="oeuvres">
        {{#each image in oeuvres}}
            <div class="oeuvreArtiste">
                <div class="thumbnail" id="{{image.userId}}">
                    <div class="img" style="background-image: url('{{fileURL image}}')"></div>
                    <div class="caption">
                        <div class="">
                            <span class="nomOeuvre">{{image.meta.nom}}</span>
                        </div>
                        <div>
                            <span class="dimension">{{image.meta.dimension.hauteur}}
                                cm x {{image.meta.dimension.largeur}}cm</span>
                            {{#if image.meta.dimension.profondeur}}
                                x {{image.meta.dimension.profondeur}}cm
                            {{/if}}
                        </div>
                        <button class="btn btn-primary edit-oeuvre" id="{{image._id}}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-danger deleteImage" id="{{image._id}}"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </div>
                </div>

            </div>
        {{/each}}
        {{>edit}}

    </div>
    {{>upload}}
    <br>
</template>