<template name="upload">
    <div class="row">

        {{#if nbMax 5}}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary col-xs-12" data-toggle="modal" data-target="#uploadOeuvre">
                Charger une photo
            </button>

        {{else}}
            <button type="button" class="btn btn-primary col-xs-12 suivant">
                Suivant
            </button>
        {{/if}}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="uploadOeuvre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload</h4>
                </div>
                <div class="modal-body">
                    {{#with currentUpload}}
                        Uploading <b>{{file.name}}</b>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{progress.get}}%">
                                <span class="sr-only">{{progress.get}}% Complete</span>
                            </div>
                        </div>
                    {{else}}
                        {{#autoForm schema=schema id="insertImages" }}
                            <fieldset>
                                {{> afQuickFields}}
                                <input id="fileInput" class="btn btn-info" type="file"/>
                            </fieldset>
                            <br>
                            <div class="row">
                                <input type="submit" class="btn btn-primary col-xs-12" value="Enregistrer">
                            </div>
                        {{/autoForm}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>

</template>