<template name="view">
    <div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    {{#each image in images}}
                        <div class="thumbnail">
                            <img src="{{fileURL image}}" alt="..." class="img-responsive">
                            <div class="caption">
                                <h3>{{image.meta.nom}}</h3>
                                <p>{{image.meta.description}}</p>
                            </div>
                        </div>
                    {{/each}}

                    {{#if valide}}
                        <div class="row">
                            <button id='validerPos' class="col-xs-12 btn btn-success">Valider positionement + Mail
                            </button>
                            <button id='invalider' class="col-xs-12 btn btn-danger">invalider</button>
                        </div>
                    {{else}}
                        <div class="row">
                            <button id='valider' class="col-xs-12 btn btn-success">Valider paiement + Mail</button>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>