<template name="login">
    <h3>Se connecter</h3>
        <div>
            {{#autoForm schema=schema id="login" template="bootstrap3-horizontal" }}
                <fieldset>
                    {{> afQuickFields label-class="col-sm-3" input-col-class="col-sm-9"}}
                </fieldset>
                <input type="submit" class="btn btn-primary" value="Se Connecter">
            {{/autoForm}}
        </div>
</template>

