<template name="register">
    <h3>Créer un compte artiste</h3>
        <div>
            {{#autoForm schema=schema id="register" template="bootstrap3-horizontal"}}
                <fieldset>
                    {{> afQuickFields label-class="col-sm-3" input-col-class="col-sm-9"}}
                </fieldset>
                <input type="submit" class="btn btn-primary" value="Créer un compte">
            {{/autoForm}}
        </div>
</template>
