<template name="artistesPosition">

    <div class="row">
        <div class="mapPosition col col-xs-8">
            {{>googleMap name="mapPosition" options=mapPositionOption}}
        </div>
        <div class="col col-xs-4 tableauPos">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Pseudo</th>
                    <th>Placé</th>
                </tr>
                </thead>
                <tbody>
                {{#each user in getUsersNotPlaced}}
                    <tr id="{{user._id}}" class="user {{getColor user}} ">
                        <td>{{user.profile.perso.nom}}</td>
                        <td>{{user.profile.perso.prenom}}</td>
                        <td>{{user.profile.perso.artisteNom}}</td>
                        <td><span class="glyphicon {{getPlaced user}}"></span></td>
                    </tr>
                {{/each}}

                </tbody>
                <hr/>
                <tbody>
                {{#each user in getUsersPlaced}}
                    <tr id="{{user._id}}" class="user {{getColor user}} ">
                        <td>{{user.profile.perso.nom}}</td>
                        <td>{{user.profile.perso.prenom}}</td>
                        <td>{{user.profile.perso.artisteNom}}</td>
                        <td><span class="glyphicon {{getPlaced user}}"></span></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{>view}}

</template>