<template name="profile">
    <div class="jumbotron">
        {{>etape}}
        {{#unless etape1 }}
            {{>formProfile}}
        {{/unless}}
        {{#if etape2 }}
            {{>formAtelier}}
        {{/if}}
        {{#if etape3 }}
            {{>formQuai}}
        {{/if}}
        <br>
        {{#if etape4 }}
            <div class="form3">
                {{>mesoeuvres}}
            </div>
        {{/if }}
        {{#if etape5 }}
            {{>recapitulatif}}
            {{>paiement}}
        {{/if }}
        {{#if etape6 }}
            {{>mapPositionQuai}}
        {{/if }}
        <br>
    </div>
</template>
