<template name="viewUser">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Description</th>
            <th>Pseudo</th>
        </tr>
        </thead>
        <tbody>
        {{#each user in getUsers}}
            <tr id="{{user._id}}" class="user {{isValide user}} ">
                <td>{{getEmail user}}</td>
                <td>{{user.profile.perso.nom}}</td>
                <td>{{user.profile.perso.prenom}}</td>
                <td>{{user.profile.perso.description}}</td>
                <td>{{user.profile.perso.artisteNom}}</td>
            </tr>
        {{/each}}

        </tbody>
    </table>

    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Description</th>
            <th>Pseudo</th>
        </tr>
        </thead>
        <tbody>
        {{#each user in getUsersNotValidate}}
            <tr id="{{user._id}}" class="user {{isValide user}} ">
                <td>{{getEmail user}}</td>
                <td>{{user.profile.perso.nom}}</td>
                <td>{{user.profile.perso.prenom}}</td>
                <td>{{user.profile.perso.description}}</td>
                <td>{{user.profile.perso.artisteNom}}</td>
            </tr>
        {{/each}}

        </tbody>
    </table>
    {{>view}}
</template>

